$tabs-height: 38px;

.infowindow-dialog {
  position: absolute;
  top: 25px;
  right: 80px;
  z-index: 5;
  width: 25%;
  font-size: 11px;
  background: #fff;
  opacity: 1;

  md-toolbar {
    min-height: 80px !important;

    div.md-toolbar-tools {
      min-height: 80px !important;
      max-height: 80px !important;

      padding-right: 0px;
      padding-left: 3px;
      align-items: baseline;
      flex-direction: column !important;

      .infowindow-title {
        font-weight: 600;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
      }

      .infowindow-subtitle {
        font-size: 12px !important;
        min-height: 10px;
      }

      .infowindow-action-buttons {
        display: inline-block;
        float: right;
        position: absolute;
        right: 0px;
        bottom: 3px;

        button {
          line-height: 20px;
          min-height: 25px;
          height: 25px;
          font-size: 11px;
          margin: 0px 3px;
          padding: 0px 3px;
        }
      }

      button.close-icon {
        margin: 0px !important;
        padding: 0px !important;
        min-height: 20px !important;
        min-width: 20px !important;
        height: 25px;
        width: 25px;

        md-icon {
          font-size: 18px;
          line-height: 1.5;
        }
      }

    }
  }

  md-dialog-content {
    md-tabs {
      md-tabs-wrapper {
        height: $tabs-height;
        md-tabs-canvas {
          height: inherit;
          md-pagination-wrapper {
            height:inherit;

            md-tab-item {
              max-width: 250px !important;

              span:first-child {
                font-size: 12px !important;
              }
            }
          }
        }
      }

      md-tabs-content-wrapper {
        md-tab-content {
          padding-top: 0px !important;

          md-content {
            padding: 5px !important;

            md-card {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}